:root {
  --color-letra: white;
  --color-fondo: black;
  --color-fondo-button: #3a4970;
  --color-principal: white;
  --color-fondo-principal: black;
  --color-principal: #ffffff;
  --color-fondo-principal-button: rgb(33, 48, 134);
  --color-secundario: #FF4081;
}