body {
  margin: 0;
  color: var(--color-letra);
  background-color: var(--color-fondo);
}

.material-icons {vertical-align: middle;}

body,
input,
button,
a,
select,
textarea {
  color: var(--color-letra);
  font-family: sans-serif;
}

.vista {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column
}

header {
  background-color: var(--color-fondo-principal);
  color: var(--color-principal);
  padding: 0.5em;
  display: flex;
  align-items: center
}

header h1 {
  margin: 0;
  font-size: 24px;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap
}

.principal {
  flex-grow: 1;
  overflow: auto;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto
}

.ancho {
  flex-grow: 1;
  overflow: auto
}

.vacia::before {
  content: "No se encontraron datos.";
}

button {
  background-color: var(--color-fondo-button);
  border: none;
}

footer {
  text-align: center;
  font-size: small
}

pre {
  overflow: auto
}
